form {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    &.block {
        display: block;
    }
}

input {
    font-size: 1.2em;
    border-width: 0px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button,
input,
textarea,
.editable {
    outline: none;
}

input,
textarea,
.editable {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}

.btn-group {
    display: flex;
}

.btn-6 {
    @include flex-basis(50%);
}

.btn-inline {
    vertical-align: middle;
    font-size: 0.5em;
    line-height: 1.6em;
    display: inline-block;
    border: 0;
    padding: 0.3em 0.7em;
    border-radius: 2px;
    transition: all ease-out 0.3s;
    &.primary {
        background-color: $btn-primary-bg;
        color: $btn-primary-color;
        &:focus,
        &:hover {
            background-color: $btn-primary-bg-hover;
        }
    }
}

.btn {
    border: none;
    padding: 10px 30px;
    display: block;
    line-height: 1.2em;
    text-transform: uppercase;
    transition: all ease-out 0.3s;
    cursor: pointer;
    &.center {
        align-self: center;
    }
    &.primary {
        background-color: $btn-primary-bg;
        color: $btn-primary-color;
        &:focus,
        &:hover {
            background-color: $btn-primary-bg-hover;
        }
    }
    &.lg {
        padding: 15px 30px;
    }
    &.fluid {
        width: 100%;
    }
}

.editable {
    border-bottom: 1px solid #dbdbdb;
    color: $text-color;
    min-height: 12em !important;
}

select {
    font-size: inherit;
    display: inline;
    border: 0;
    width: auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
    transition: all .4s ease-in-out;
    &:hover {
        cursor: pointer;
    }
    option {
        border: 0;
        border-bottom: 1px solid $color-primary;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid $color-primary;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 5px;
        width: 5px;
        height: 11px;
        opacity: 0;
        transform: rotate(45deg) scale(0);
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: all 0.3s ease;
        transition-delay: 0.15s;
    }
}

.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.cb:checked~.cbx {
    border-color: transparent;
    background: $color-primary;
    animation: ease 0.6s ease;
}

.cb:checked~.cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn {
    border: 2px solid gray;
    color: gray;
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}