.header {
    background-color: $header-bg;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: auto;
    transition: all 150ms ease-in-out;
    color: $header-color;
    .row {
        margin: 50px 0 38px;
        transition: all 200ms ease;
    }
}

@media (min-width: 62em) {
    .header .row {
        margin: 16px 0;
    }
    .header.minimize {
        .site-logo {
            height: 65px;
        }
        .row {
            margin: 12px 0px;
        }
    }
}

.site-logo {
    transition: all 200ms ease;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 13px;
    left: 20px;
    img {
        height: 100%;
        width: auto;
    }
}

@media (min-width: 62em) {
    .site-logo {
        height: 80px;
        position: static;
        margin: 0 auto;
        top: 0;
        left: 0;
    }
}

.header-menu {
    display: none;
}

@media (min-width: 62em) {
    .header-menu {
        display: block;
        font-size: 14px;
        list-style-type: none;
        margin: 15px 0 0 0;
        position: absolute;
        top: 0;
        z-index: 100;
    }
    .right-menu {
        right: 30px;
    }
    .left-menu {
        left: 30px;
    }
}

@media (min-width: 75em) {
    .header-menu {
        margin-top: 20px;
    }
}

@media (min-width: 62em) {
    .header-menu .menu {
        padding: 15px 0;
    }
}

ul.menu {
    li {
        float: left;
        padding: 0.2em 0.5em 0 0;
        margin: 0 0 0 0.5em;
        a {
            padding: 5px 15px;
            &:hover,
            &:focus {
                color: $color-secondary;
            }
        }
        @media (min-width: 62em) {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                display: block;
                margin-top: 0;
            }
        }
    }
    border: none;
    list-style: none;
    text-align: left;
}

.mobile {
    .bar {
        position: absolute;
        right: 0;
        top: 25px;
        border-left: 1px solid rgba(255, 255, 255, 0.07);
        a {
            overflow: hidden;
            text-indent: -9999%;
            opacity: 0.8;
            width: 42px;
            height: 42px;
            background: url(../img/whopper.png) no-repeat center center #002147;
            display: block;
            float: right;
        }
    }
    .search {
        position: absolute;
        top: 30px;
        right: 50px;
        background: url(../img/search-icon.png) center right rgba(0, 0, 0, 0) no-repeat;
        width: 34px;
        height: 30px;
        padding: 4px;
        margin: 0;
        border: none;
        overflow: hidden;
        text-indent: -9999%;
    }
}

@media (min-width:62em) {
    .mobile {
        display: none;
    }
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    padding-top: 0px !important;
    a {
        padding: 0px !important;
        img {
            border-radius: 3px;
            width: 50px;
            height: 50px;
        }
        span,img{
            vertical-align: middle;
        }
    }
}