.navbar {
    background: $navbar-bg;
   
    .navbar-wrapper{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin: 0;
        list-style: none;
        width: 100%;
    }
    .navbar-item {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        list-style: none;
        transition: all ease-out 0.3s;
        border-right: $navbar-item-border-size solid $navbar-item-border-color;        
        >a{
            color: $navbar-item-color;            
            padding: 10px;
            display: block;
            text-transform: uppercase;
        }
        &.active,
        &:hover {
            background-color: $navbar-item-bg-hover;
        }
        &:last-child{
            border-right: 0px;
        }
    }
}

.navbar-item a{
    font-size: 13px;
    letter-spacing: 0;
}
.navbar{
    display: none;
}
@media (min-width:62em){
    .navbar{
        display: flex;
        flex-wrap: wrap; // allow us to do the line break for collapsing content
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width:75em){
    .navbar-item a{
        font-size: 15px;
        letter-spacing: 1px;
    }
}