.page {
    padding-top: 88px;
    position: relative;
    min-height: calc(100vh - 288px);
}

@media (min-width:75em) {
    .page {
        padding-top: 158px;
        min-height: calc(100vh - 358px);
    }
}

.story {
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #337AB7;
    }
    h2 {
        font-weight: 200;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    input.title {
        color: #337AB7;
        font-weight: 200;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    p {
        color: $text-color;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.banner {
    overflow: hidden;
    position: relative;
    background: #002a5c;
    .caption {
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        bottom: 1%;
        z-index: 1;
        width: 100%;
        left: 20px;
        h1 {
            font-weight: 200;
        }
        &.caption-image {
            z-index: 4;
            top: 0px;
            bottom: auto;
            @media screen and (max-width: 992px) {
                position: relative;
                left: 50%;
                top: -120px;
            }
            img {
                padding-top: 200px;
                padding-left: 133px;
                max-width: 100%;
                @media screen and (max-width: 760px) {
                    padding-top: 280px;
                    max-width: 90%;
                    padding-left: 0px;
                }
                @media screen and (max-width: 992px) {
                    padding-top: 0px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    clear: both;
                    position: absolute;
                    -ms-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
        }
    }
}

.tags {
    max-width: 60%;
    a {
        font-size: 0.9em;
        line-height: 1.6em;
        display: inline-block;
        border: 0;
        margin-bottom: 0.3em;
        padding: 0.3em 0.7em;
        border-radius: 2px;
        color: #fff;
        background: $color-secondary;
        font-weight: 300;
        transition: all ease-out 0.3s;
        &:hover,
        &:focus {
            background: $color-tertiary;
        }
    }
}

.stripe-container {
    margin-top: -40px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    .stripe {
        -webkit-mask-image: url('../img/stripe1.svg');
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        position: absolute;
        height: 115%;
        z-index: 1;
        left: -18%;
        margin-left: -10px;
    }
    .stripe-content {
        position: relative;
        width: 100%;
        margin-top: 100px;
        z-index: 5;
    }
}

.headline {
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    padding: 20px;
    &>* {
        font-weight: 200;
    }
    h1 {
        font-size: 2.5em
    }
}