{% extends "base.html" %} {% block subnav %} {% if professor is not defined %}
<nav class="subnav">
    <ul class="subnav-wrapper container container-fluid">
        <li class="subnav-item">
            <a href="/professor">All Professor</a>
        </li>
        <li class="subnav-item active">
            <a href="/professor/add">Add Professor</a>
        </li>
    </ul>
</nav>
{% endif %} {% endblock %} {% block content %}

<div class="mgn-subnav wrapper-md">
    <div class="container-section container-section__primary">
        <form class="story" action="/professor/{{'edit/'+professor.id | string if professor is defined else 'add'}}" method="POST">
            <input name="firstname" type="text" placeholder="First Name" value="{{professor.user.first_name if professor is defined }}">
            <input name="lastname" type="text" placeholder="Last Name" value="{{professor.user.last_name if professor is defined}}">
            <input name="username" type="text" placeholder="Username" value="{{professor.user.username if professor is defined}}">
            <input name="level" type="text" placeholder="Level" value="{{professor.level if professor is defined}}">
            <input name="degree" type="text" placeholder="Degree" value="{{professor.degree if professor is defined}}">
            <input name="field_of_study" type="text" placeholder="Field Of Study" value="{{professor.field_of_study if professor is defined}}">
            <input name="password" type="password" placeholder="New Password">
            <button class="btn primary center" type="submit">{{'Update' if professor is defined else 'Add'}}</button>
        </form>
    </div>
</div>
{% endblock %} {% block archive %} {% endblock %}