{% extends "base.html" %} {% block subnav %} {% if auth %}
<nav class="subnav">
    <ul class="subnav-wrapper container container-fluid">
        <li class="subnav-item active">
            <a href="/professor">All Professor</a>
        </li>
        <li class="subnav-item">
            <a href="/professor/add">Add Professor</a>
        </li>
    </ul>
</nav>
{% endif %} {% endblock %} {% block content %}
<div class="banner">
    <div class="gradient darker">
        <img class="img-res-w" src="../static/img/cover-faculty-staff-group-3.jpg">
    </div>
    <div class="caption">
        <div class="wrapper-lg">
            <div class="row mgn-b-6">
                <h1>faculty & staff</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid stripe-container">
    <img class="stripe" src="../static/img/block_background.jpg">

    <section class="wrapper-md stripe-content">
        <div class="row">
            {% for professor in professors %}
            <figure class="col-xs-12 col-sm-6 card horizontally">
                {% if professor.user.img_url is string %}
                <img class="circle md" src="{{url_for('static', filename='img/'+professor.user.img_url)}}"> {% endif %}
                <figcaption>
                    <a href="{{ url_for('showUser', userid=professor.user.id)}}">
                        <span class="capitalize">{{professor.user.first_name}}</span>&nbsp;
                        <span class="capitalize">{{professor.user.last_name}}</span>
                    </a>
                    <p>Level : {{professor.level}}</p>
                    <p>Field of study :
                        <span class="capitalize">{{professor.field_of_study}}</span>
                    </p>
                    <p>Degree :
                        <span class="capitalize">{{professor.degree}}</span>
                    </p>
                    {% if auth %}
                    <div class="btn-group">
                        <a href="{{ url_for('professor.editProfessor', professorid=professor.id)}}" class="btn btn-6 primary center">edit</a>
                        <form class="block" action="{{ url_for('professor.deleteProfessor', professorid=professor.id)}}" method="POST">
                            <button class="btn btn-6 danger-bg-color white-color center">delete</button>
                        </form>
                    </div>
                    {% endif %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}