{% extends "base.html" %} 
{% block subnav %}
<nav class="subnav">
    <ul class="subnav-wrapper container container-fluid">
        <li class="subnav-item">
            <a href="/news">All News</a>
        </li>
        <li class="subnav-item active">
            <a href="/news/add">Add News</a>
        </li>
    </ul>
</nav>
{% endblock %}
{% block content %}

<div class="mgn-subnav wrapper-md">
  <div class="container-section container-section__primary">
    <form class="story" action="/news/add" method="POST">
      <input name="title" class="title" type="text" placeholder="Title">
      <textarea name="content" class="text-lg editable medium-editor-textarea"></textarea>
      <input name="img_url" type="text" placeholder="Image url">
      <div class="text-lg text-primary-color">
        <span>Category is</span>
        <select name="category">
          <option value="science">SCINECE</option>
          <option value="it">IT</option>
          <option value="sport">SPORT</option>
          <option value="course">Course</option>
          <option value="culture">CULTURE</option>
        </select>
      </div>
      <div>
        <h4>Tags:</h4>
        <span>
          <input name="tags" class="hidden-xs-up cb" id="news" type="checkbox" value="news" />
          <label class="cbx" for="news"></label>
          <label class="lbl" for="news">News</label>
        </span>
        <span>
          <input name="tags" class="hidden-xs-up cb" id="event" type="checkbox" value="event"/>
          <label class="cbx" for="event"></label>
          <label class="lbl" for="event">Event</label>
        </span>
        <span>
          <input name="tags" class="hidden-xs-up cb" id="life" type="checkbox" value="life"/>
          <label class="cbx" for="life"></label>
          <label class="lbl" for="life">Student Life</label>
        </span>
      </div>
      <button class="btn primary center" type="submit">Add </button>
    </form>
  </div>
</div>
<script src="{{url_for('static', filename='js/medium-editor.min.js')}}"></script>
<script>
  var editor = new MediumEditor('.editable', {
    buttonLabels: 'fontawesome'
  });
</script>
{% endblock %} {% block archive %} {% endblock %}