{% extends "base.html" %} {% block subnav %} {% if current_user.is_authenticated %}
<nav class="subnav">
    <ul class="subnav-wrapper container container-fluid">
        <li class="subnav-item active">
            <a href="/news">All News</a>
        </li>
        <li class="subnav-item">
            <a href="/news/add">Add News</a>
        </li>
    </ul>
</nav>
{% endif %} {% endblock %} {% block content %}
<div class="{{'mgn-subnav' if current_user.is_authenticated }} container-fluid">
    <div class="row">
        <div class="container container-fluid text-center">
            {% if tag %}
            <p>Tags :</p>
            <p>
                {% for tagOrCategory in tagsOrCategories %}
                <a href="{{ url_for('news.showTag', tagid=tagOrCategory.id)}}">
                    <span class="badge {{'active' if pageName==tagOrCategory.name }}">{{tagOrCategory.name}}</span>
                </a>
                {% endfor %}
            </p>
            {% else %}
            <p>Categories :</p>
            <p>
                {% for tagOrCategory in tagsOrCategories %}
                <a href="{{ url_for('news.showCategory', categoryid=tagOrCategory.id)}}">
                    <span class="badge {{'active' if pageName==tagOrCategory.name }}">{{tagOrCategory.name}}</span>
                </a>
                {% endfor %}
            </p>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <section class="container container-section container-section__primary">
            <h2>
                <span class="capitalize">{{pageName}}</span> News</h2>
            <div class="posts">
                {% if tc %}
                    {% for post in posts %}

                    <figure class="post">
                        <a class="post-link" href="{{ url_for('news.showPost', postid=post.id)}}"></a>
                        <img src="{{url_for('static', filename='img/'+post.img_url)}}">
                        <figcaption>
                            <h4 class="blog-post-title"> {{ post.title }}</h2>
                                <p>{{post.content_mini}}</p>
                        </figcaption>
                    </figure>
                    {% endfor %}
                {% else %}
                    {% for post in posts.items %}

                    <figure class="post">
                        <a class="post-link" href="{{ url_for('news.showPost', postid=post.id)}}"></a>
                        <img src="{{url_for('static', filename='img/'+post.img_url)}}">
                        <figcaption>
                            <h4 class="blog-post-title"> {{ post.title }}</h2>
                                <p>{{post.content_mini}}</p>
                        </figcaption>
                    </figure>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </div>
    
    <nav class="row center-xs mgn-b-2">
        {% if posts.has_next %}
        <a class="" href="{{ url_for('news', page=posts.next_num) }}">Older</a>
        {% else %}Older{% endif %}
        &nbsp;|&nbsp;
        {% if posts.has_prev %}
        <a class="" href="{{ url_for('news', page=posts.prev_num) }}">Newer</a>
        {% else %}Newer{% endif %}
    </nav>

</div>
{% endblock %}