{% extends "base.html" %} {% block content %}
<div class="banner">
    <div class="gradient">
        <img class="img-res-w" src="../static/img/about.jpg">
    </div>
    <div class="caption">
        <div class="wrapper-lg">
            <div class="row mgn-b-2">
                <h1>About of University of Guilan</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <section class="container-section container-section__primary story">
        <h2>Facts and Figures</h2>
        <p>There are nearly 17000 students in 112 fields of study at the University of Guilan, which are composed of undergraduate,
            postgraduate and research scholars. Spread over four campuses with a total area of more than 2.5 km2, the University
            has a lively, creative and intimate atmosphere. The University of Guilan was originally founded in 1974 and started
            its academic activities two years later with 120 students in seven departments : Physics, Mathematics, Chemistry,
            Biology, Agronomy, Animal Husbandry and German Literature.</p>
        <p>Today, with more than 500 academic staff, 9 faculties and three research centers, the University of Guilan is the
            largest academic institution in Northern Iran. There is a wide range of courses offered in the Faculties of Science,
            Engineering, Agriculture, Humanities, Physical Education, Natural Resources, and Art and Architecture. More than
            112 courses are offered in 35 departments, leading to B.Sc., M.Sc., B.A., M.A., and Ph.D. degrees. These courses
            aim to combine the traditional academic approach with new knowledge, methodology and technology, wherever appropriate.
            The University’s fundamental mission is the advancement and dissemination of knowledge and its understanding.
            The University of Guilan aims to improve the range and quality of the education it offers, as well as the research
            activities, and to enhance the environment in which students and staff work. It is committed to reinforcing its
            reputation as a center of excellence.</p>
        <p>Only 30 kms away from the Caspian Sea, the University of Guilan is particularly fortunate in its position in the
            capital city of Guilan Province. Guilan is the territory of forest and rain, rice and silk, beds of roaring rivers
            and the area of growth of wild violets, primroses, water lilies, and the habitat of swans, ducks and thousands
            of beautiful plants. An environment where plains, mountains and the sea are touching to create magnificent beauty.
            A territory full of life and joy with an enchanting nature, which at the same time is a source of dynamism and
            effort as well as inspiration of tranquility, stimulation of thought and creativity.</p>
    </section>
</div>
{% endblock %}