{% extends "base.html" %} {% block content %}
<div class="banner">
    <div class="gradient darker">
        <img class="img-res-w blur" src="../static/img/vb-fans-audiencebanner.jpg">
    </div>
    <div class="caption caption-image">
        <img src="../static/img/Title_CurrentStudents.png">
    </div>
</div>
<div class="container-fluid stripe-container">
    <img class="stripe" src="../static/img/block_background.jpg">

    <section class="wrapper-md stripe-content">
        <div class="row">
            {% for student in students %}
            <figure class="col-xs-12 col-sm-6 card horizontally">
                <img class="circle md" src="{{url_for('static', filename='img/'+student.user.img_url)}}">
                <figcaption>
                    <a href="{{ url_for('showUser', userid=student.user.id)}}">
                        <span class="capitalize">{{student.user.first_name}}</span>&nbsp;
                        <span class="capitalize">{{student.user.last_name}}</span>
                    </a>
                    <p>Year of enter : {{student.year_of_enter}}</p>
                    <p>Field of study :
                        <span class="capitalize">{{student.field_of_study}}</span>
                    </p>
                    <p>Degree :
                        <span class="capitalize">{{student.degree}}</span>
                    </p>
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}