{% extends "course/detail.html" %} {% block content %}
<section class="container container-section container-section__primary">
    <h2 class="text-center mgn-b-4">
        <span class="capitalize">{{course.title}}</span> News
    </h2>
    <div class="posts">
        {% for post in posts %}

        <figure class="post">
            <a class="post-link" href="{{ url_for('news.showPost', postid=post.id)}}"></a>
            <img src="{{url_for('static', filename='img/'+post.img_url)}}">
            <figcaption>
                <h4 class="blog-post-title"> {{ post.title }}</h2>
                    <p>{{post.content_mini}}</p>
            </figcaption>
        </figure>
        {% endfor %}
    </div>
</section>
{% endblock %}