{% extends "base.html" %} {% block subnav %}
<nav class="subnav">
    <ul class="subnav-wrapper container container-fluid">
        <li class="subnav-item {{'active' if subPageNum==1 }}">
            <a href="{{ url_for('course.getCourse', courseid=course.id)}}">General</a>
        </li>
        {% if auth %}
        <li class="subnav-item {{'active' if subPageNum==2 }}">
            <a href="{{ url_for('course.addNews', courseid=course.id)}}">Add News</a>
        </li>
        {% endif %} {% if enroll %}
        <!-- <li class="subnav-item {{'active' if subPageNum==2 }}">
            <a href="#">Upload Homework</a>
        </li> -->
        {% endif %}
    </ul>
</nav>
{% endblock %} {% block content %}
<div class="banner fit-height__subnav mgn-subnav">
    <div class="gradient">
        <video poster="/static/img/video-bg.jpg" autoplay="autoplay" loop="loop" class="video-res">
            <source src="{{url_for('static', filename='video/'+course.video_url)}}">
        </video>
    </div>
</div>

<div class="wrapper-md mgn-minus">
    <div class="row">
        <nav class="nav hidden-sm-down col-md-3">
            <ul class="vertical-wrapper">
                <li class="nav-item ">
                    <a class="nav-link about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link resources" href="#">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link syllabus" href="#">Syllabus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link slides" href="#">Slides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link homework" href="#">Homework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link news" href="#">News</a>
                </li>
                {% if not enroll %}
                <li class="nav-item">
                    <a class="nav-link enroll">
                        <h2>{{course.title}}</h2>
                        <form class="block" action="{{ url_for('course.enrollCourse', courseid=course.id)}}" method="POST">
                            <button class="btn primary lg fluid center">Enroll</button>
                        </form>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="col-sm-12 col-md-9">
            <div class="headline mgn-b-md-up-6">
                <h1>{{course.title}}</h1>
                <h4>{{course.minor_title}}</h4>
            </div>
            <section id="course" class="container-fluid"></section>
            <script src="{{url_for('static', filename='js/course.bundle.js')}}">
            </script>
        </div>
    </div>
</div>
{% endblock %}