{% extends "base.html" %} {% block subnav %} {% if auth %}
<nav class="subnav">
    <ul class="subnav-wrapper container container-fluid">
        <li class="subnav-item active">
            <a href="/course">All Course</a>
        </li>
        <li class="subnav-item">
            <a href="/course/add">Add Course</a>
        </li>
    </ul>
</nav>
{% endif %} {% endblock %} {% block content %}
<div class="banner">
    <div class="gradient darker">
        <img class="img-res-w blur" src="../static/img/academics_culinaria.jpg">
    </div>
    <div class="caption caption-image">
        <img src="../static/img/Title_Academics.png">
    </div>
</div>
<div class="container-fluid stripe-container">
    <img class="stripe" src="../static/img/block_background.jpg">

    <section class="stripe-content wrapper-md">
        <div class="container-fluid mgn-b-2">
            <form class="" action="/course/filter" method="post">
                <div class="row between-xs">
                    <div class="text-lg text-primary-color">
                        <span>Year is</span>
                        <select name="year">
                            <option value="1397">1397</option>
                            <option value="1396">1396</option>
                        </select>
                    </div>
                    <button class="btn primary center" type="submit">Filter</button>
                </div>
            </form>
        </div>
        <div class="row">
            {% for course in courses %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="card card-text vertically">
                    <a href="{{ url_for('course.getCourse', courseid=course.id)}}">
                        <h4>
                            <span class="capitalize">{{course.title}}</span>
                        </h4>
                    </a>
                    <p>{{course.minor_title}}</p>
                    <p class="corner"></p>
                    <span class="capitalize">{{course.degree}}</span>
                    </p>
                    {% if auth %}
                    <div class="btn-group bottom">
                        <a class="btn text-center btn-6 primary center" href="{{ url_for('course.editCourse', courseid=course.id)}}">edit</a>
                        <form class="block" action="{{ url_for('course.deleteCourse', courseid=course.id)}}" method="POST">
                            <button class="btn btn-6 danger-bg-color white-color center">delete</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}